@import "../../assets/styles/modules/theme.module";

.Nav {
	display: flex;
	border-bottom: 1px solid gray;

	&_Link {
		padding: 10px 20px;

		&:link {
			text-decoration: none;
			color: $primary-clr;
			cursor: pointer;
			font-family: $nav-font;
			font-size: 1.2em;
		}
		&:visited {
			text-decoration: none;
			color: $primary-clr;
		}
		&:hover {
			text-decoration: none;
			color: $primary-clr;
			text-shadow: 2px 2px $accent-clr;
		}
		&:active {
			text-decoration: none;
			color: $primary-clr;
			text-shadow: none;
			transform: translate(2px, 2px);
		}
	}
}
